<div class="panel panel-info">
    <div class="panel-heading">{{details.name}} Details</div>
    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item">
                Current Price <span class="highlight">{{details.current_price}}</span>
            </li>
            <li class="list-group-item">
                Market Capitalization <span class="highlight">{{details.market_capitalization}}</span>
            </li>
            <li class="list-group-item">
                No of Outstanding shares <span class="highlight">{{details.no_of_shares}}</span>
            </li>
        </ul>
    </div>
</div>
