<div class="panel panel-info">
    <div class="panel-heading">{{details.name}} Details</div>
    <div class="panel-body">
            <div class="container">
            <div class="row">
                <div class="col-md-3">Current Price</div>
                <div class="col-md-3">{{details.current_price}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">Market Capitalization</div>
                <div class="col-md-3">{{details.market_capitalization}}</div>
            </div>
            <div class="row">
                <div class="col-md-3">No of Outstanding shares</div>
                <div class="col-md-3">{{details.no_of_shares}}</div>
            </div>
        </div>
    </div>
</div>
