<div class="panel with-nav-tabs">
    <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li role="presentation" [routerLinkActive]="['active']">
                    <a routerLink="info">Company Information</a>
                </li>
                <li role="presentation" [routerLinkActive]="['active']">
                    <a routerLink="balancesheet">Balance Sheet</a>
                </li>
                <li role="presentation" [routerLinkActive]="['active']">
                        <a routerLink="profitloss">Profit Loss</a>
                    </li>
                <li role="presentation" [routerLinkActive]="['active']">
                    <a routerLink="cashflow">Cashflow</a>
                </li>
            </ul>
    </div>
    <div class="panel-body">
        <div class="tab-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
