.header {
    height: 64px;
    background-color: #1976d2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
}

.header__logo {
    height: 80px;
    width: 80px;
}

.header__right {
    margin-right: 20px;
}

.header__right a {
    color: #FFFFFF;
}
